<% layout("/layouts/boilerplate") %>

<script>
  const MAP_TOKEN = "<%= process.env.MAP_TOKEN %>";
  const listing = <%- JSON.stringify(listing) %>;
  const coordinates = <%- JSON.stringify(listing.geometry.coordinates) %>;
</script>

  <div class="container mt-4">

    <!-- TITLE -->
    <div class="col-8 offset-2">
      <h3>
        <%= listing.title %>
      </h3>
    </div>

    <!-- CARD -->
    <div class="col-8 offset-2">
      <div class="card mb-3">

        <!-- Img -->
        <img src="<%= listing.image.url %>" class="card-img-top show-img" alt="listing_image"
          style="height: 18rem; object-fit: cover;">

        <!-- Content -->
        <div class="card-body">

          <p class="card-text">
            <i><b>owned by </b>@<%= listing.owner.username %></i>
          </p>

          <hr>

          <p>
            <%= listing.description %>
          </p>

          <h5 class="fw-bold text-success mb-2">
            ₹ <%= listing.price ? listing.price.toLocaleString("en-IN") : "0" %>
          </h5>

          <p>
            <%= listing.location %><br>
              <%= listing.country %>
          </p>

        </div>
      </div>
    </div>

    <!-- BUTTONS -->
    <% if (currUser && currUser._id.equals(listing.owner._id)) { %>
      <div class="col-8 offset-2 d-flex gap-2">
        <a href="/listings/<%= listing._id %>/edit" class="btn btn-danger">Edit</a>

        <form method="POST" action="/listings/<%= listing._id %>?_method=DELETE">
          <button class="btn btn-dark">Delete</button>
        </form>
      </div>
      <% } %>

        <!-- REVIEW SECTION -->
        <div class="col-8 offset-2">
          <hr>

          <% if (currUser) { %>
            <h4>Leave a Review</h4>

            <form action="/listings/<%= listing._id %>/reviews" method="POST">

              <div class="mb-3">
                <label class="form-label">Rating</label>

                <fieldset class="starability-slot">
                  <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="1" checked>
                  <input type="radio" id="first-rate1" name="review[rating]" value="1">
                  <label for="first-rate1" title="Terrible">1 star</label>

                  <input type="radio" id="first-rate2" name="review[rating]" value="2">
                  <label for="first-rate2" title="Not good">2 stars</label>

                  <input type="radio" id="first-rate3" name="review[rating]" value="3">
                  <label for="first-rate3" title="Average">3 stars</label>

                  <input type="radio" id="first-rate4" name="review[rating]" value="4">
                  <label for="first-rate4" title="Very good">4 stars</label>

                  <input type="radio" id="first-rate5" name="review[rating]" value="5">
                  <label for="first-rate5" title="Amazing">5 stars</label>
                </fieldset>
              </div>

              <div class="mb-3">
                <label class="form-label">Comments</label>
                <textarea name="review[comment]" class="form-control" rows="4" required></textarea>
              </div>

              <button class="btn btn-outline-dark">Submit</button>
            </form>
            <% } %>
              <hr>

              <!-- All Reviews -->

              <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
                <% for (let review of listing.reviews) { %>
                  
                  <div class="col d-flex justify-content-center">
                    
                    <div class="card h-100 p-3 shadow-sm border-0 mx-auto" style="width: 18rem; border-radius: 12px;">
              
                      <div class="text-left">
                        <h5>@<%= review.author ? review.author.username : "Anonymous" %></h5>
              
                        <p><%= review.comment %></p>
              
                        <p class="starability-result" data-rating="<%= review.rating %>"></p>
              
                        <form method="POST" action="/listings/<%= listing._id %>/reviews/<%= review._id %>?_method=DELETE">
                          <button class="btn btn-sm btn-dark mt-2">Delete</button>
                        </form>
                      </div>
              
                    </div>
              
                  </div>
              
                <% } %>
              
              </div>
        </div>

  </div>
  <br>

  <!-- MAP (OUTSIDE CONTAINER) -->
  <div class="col-8 offset-2">
    <h3 class="ms-3">Where you'll be</h3>
    <div id="map" class="map-container"></div>
  </div>

  <script src="/js/map.js"></script>

  